@using Entities;
@using ServiceConstracts.DTO;
@model List<DoctorResponse>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Doctor Name</th>
            <th scope="col">Specialization</th>
            <th scope="col">Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DoctorResponse doctor in Model){
            <tr>
                <th scope="row">@doctor.DoctorId</th>
                <td>@doctor.DoctorName</td>
                <td>@doctor.Specialization</td>
                <td>@doctor.Address</td>
            </tr>
        }
    </tbody>
</table>